@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politica de Privacidade";
}


<div class="container-fluid" style="margin: 0; padding : 0">

     <div  class="container" style=" padding 45px 15px 15px 15px">
         <h1  style="text-align"  >@ViewData["Title"]</h1>
     </div>

    <div class="container" style="padding 25px 15px 15px 15px; height: 200px ">
       <p>Nossa Politica inclui........</p>
    </div>




</div>
