@page
@model Assembly.Receita.Pages.Receita.ReceitaItens.ReceitaItensCadastrarModel
@{
    var mensagem = TempData["My9Mensagem"] as string;
    var erro = TempData["My9Erro"] as string;

}

<!-- titulos
<partial name="Receita/Adm/CabecalhoADM" />  -->
@Html.Raw(Model.CabecalhoTitulo)

<div class="container-fluid mx-1 px-1 py-1 my-1 text-center">
    <h1> Ingredientes da Receita Nr: @Model.IdReceitaOrigem  </h1>
</div>


<div class="container">

    <form class="mb-2 py-2 form-group Cadastro-Dados-Formn borda-principal" id="formulario-cadastro-geral" method="POST"
          asp-page-handler="CadastraFormulario" asp-route-TipoFiltro="1">

        @await Html.PartialAsync("Shared/CRUDPadCAD", new {
        nrColunasCad = Model.nrColunasCad,
        DadosViewModel = Model.DadosViewModel,
        acaoBTN = Model.acaoBTN,
        descricaoBTN = Model.descricaoBTN,
        voltaBTN = "Volta",
        novoCadastro = Model.novoCadastro })

    </form>

</div>

