@page
@model Assembly.Receita.Pages.Receita.Teste.teste9Model
@{
}
<!-- Receita/Adm/MenuADM.razor -->
@*
@{
    public List<MenuItem> MenuItems { get; set; }
}

<nav class="navbar navbar-expand-lg navbar-light bg-warning align-content-lg-end">
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="padding: 0px 25px 0px 0px">
        <ul class="navbar-nav ml-auto topnav">
                @foreach (var item in MenuItems)
                {
                    <li class="nav-item">
                        <a class="nav-link efeito" href="@item.Rota">@item.Nome</a>
                    </li>
                }
        </ul>
    </div>
</nav>
*@